/* CSS for my project */

#sign-out {
  position: absolute;
  top: 40px;
  right: 2.5%;

}

main {

  top: 300px;
  right: 10%;
  left: 300px;
}

#task-display{
  background: lightgray;
  border: 3px solid grey;
}


#folders {
  top: 40px;
  Width: 250px;
  left: 70px;
  border: 3px solid grey;
}

body {
  width: 95%;
  margin: auto;
}

#navigation {
  margin-bottom:  35px;
}

.nav-item {
  margin: 0px 10px 0px 10px
}
#date-input {
  width: 0%;
}






